body{
    font-family: Arial, Tahoma;
    font-size: 12px;
    margin: 0px;
}
 
#main{
    width: 100%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
#head-logo{
    height: 120px;
    text-align: center;
    font-size:  90px;
    padding: 20px 0px 1px;
}

#head{
    height: 9px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
}
#head-link{
    height: 46px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:5px;
    clear: both;
    text-align: center;
}
#shirt{
    font-size: 15px;
    color: black;
    padding: 10px 0px 15px;
    margin: 0px 25px 0px 0px;
    text-align: center;
}

#left{
    width: 1900px;
    height: 653.98px;
}
#hinhdautien{
height: 653.98px;
padding: 15px 0px 15px;
margin: 0px 32px 0px 0px;
}
#hinhthuhai{
    height: 653.98px;
padding: 15px 0px 15px;
margin: 0px 30px 0px 0px;
}
#hinhthuba{
    height: 653.98px;
padding: 15px 0px 15px;
margin: 0px 30px 0px 0px;
}
#footer{
    font-size: 15px;
    height: 45px;
     clear: both;
     border: 1px solid black;
     padding: 25px 10px 0px ;
     background-color: #F3F3;
}
#sodienthoai{
    color: red;
}
#sanpham-nhu{
    color: black;
    font-size: 40px;
    text-align: center;
padding: 50px 0px;
}
#sanpham{
    color: black;
}
a{
    text-decoration: none;
}
